body {
    font-family: 'Lato', sans-serif;
}
body, .html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.discordapp.com/attachments/979714680715096114/1231679904152686592/Namnlos_design_6_2.png?ex=6637d64c&is=6625614c&hm=c209abc56159c6c6128cd0c8391a3091a584946afdc0745e6913c2b2ea3cda2e&");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* 
Background Ideas:
https://wallpaper.dog/large/969401.jpg
https://wallpapers.com/images/hd/chill-4k-lighthouse-art-kp2abbznw07w1e3c.jpg

Background Ideas blue, white/black
Black: https://ci3.googleusercontent.com/mail-img-att/AGAZnRpgpaCC2jBPX7EIhtUkKvO3rlLKQi7tNQOPU8cZjY68y6_ZgKzan5XNhhTv8fzSUgVsrxZkR7_1rAoCRy7CabEBoas9ByUpTZRGcCzIi6PQQUi0Jiw8lTmjZGnE-4Hno5hsihZPg16UB9V0xeBWa_ujV2iUAZVu1mNEqy2elxDSE09trx97lPxL07IXdRfmKkjxUxKQ4O75Io9lUxHuhog_Uc7FDBzGnKj_6xzOePKNII7JGgQJ6lAPc1jPyP-jbtZNmJ_7rfV06m58txu-jgH7uV3fKvVIHmra13sl9egTb1dinT4AS5hyoKNI7RsT1n129YZiblqeyLoOJo8MJz54rnDDd9Fblurj1ScpJZy8JesyP0YcradxHRQXI7PgOr8l36djEBD1bjtnfLS9vByMd0HB298x4hQXCaHhL1ymjpLIKUfD7Se3E35U8Mp9cSdrI-V17NxMqoVIAo5YLEGrN_yGsLFlOOtl_bE2tcPPp6uGLLgYzwtgkSdCfks_Kbqu30owBtLbtb9A3PkGtwyZaBxlQVfoYxz23a0Zh6moS3uFcePZ6I4fdifByL-vz7Nm9PYTkxTgSjvl4s0vXYhw7BiTRY9xQlD0FmDU4Igz1BNaterpw4Gzg-hRaLmZizMqchsgFAh-rr-krxxDgajTjzd5qwiPgrizqNI9GPIqjJxjEPhR09mSpuDogLyR24eqVo9P3BQBrs-0JcPWK6KCVaa0QItcurY9qHA0x6p9xnLxleOV8XRLONsRfjRpEmV8Pdnue_JOgI3WH2X-dGHMl9JuBm9EbpK1lNi6SjkSpuGchN3ErTQ9Ha767QKPz3ngz7uzom1G6-cFeS1zFSIB75spPNcyxo7zwhFIKEbTylGI1eU85qA65NSCY2Qihfwni-tWJzTpE3dlSq0KF_xjPos9KNfj_RdWx9zb1wP27E2lERozFV9vRGjcVPEMiYmZWnP44P-ew8s0OnBJYJviir8P0mbeDgMPP4QEJoRW-z5JZdjVJ49NeZ3e6vs1JsQ56rekzzb7gEzg5r1-EvQYbyNLHUtgQ5vjCNps9TUNOnizaB6eFfnC9tbf=s0-l75-ft
White: https://ci3.googleusercontent.com/mail-img-att/AGAZnRovg8bgKqhibkZdkmQb7W7t8b9gOV7NqfWpFx8LESI18NOAlxWOLc1coNeSeAdbBaXPfsOOJFoelzcNpPZIi4CGqu3HTglCGz9OkdVYPE5za-solOe0SaY4Z2CxjbxGiL7I61mWSgXusM7dgai64LuDrUGTpzO7FB_xy53_LYFMkjFjQ5oPeD1-yVVozP6_JlOVoCNLIW71KJpZYRLp1kR9l5LzM4HXoagWqU-HHVMJr5aWGeHChIUWBXU-2QDx4zYDL88dxGu70Ls_2u0500kPx2hNhgbaZDMa4FZmc2Ok9OVOaAZDlsHoYO7j1hJtE8gLz63bKqYeUBHa6H98D2Q_lDca8CF8OdgZreZP1681eldlK94BDnca1NY6gtpWOipzlCBpCb5w1tO4ekq16b0PZlfNlj7Fm2WiE0wClRAHK46tNQB99qwwrqExD6ogEZjDU9Ygrfy8h2MvywcZjX0WR-vifoHERVnF919VfNy5XcEAr8EiGxBFkCZ7fljmqcsnhHThXjg3k5pnmuxtjAylK7cHrBnwfGTzTazG3L4d_zuzj3H_DluU5eVr0ln-H8E1wnveBPcn3r8Hie2sFUccFeCxIPBHv6n0_LxLvkeX8gF8je4PU5zAdGmQ09xZ2k2Sx49HmPCSCxqunvn3s_Z6CUGeLKdlYNtaTYUKfc9_H_DLU5r7gSc6UrAMxX-FYDkvn9-YsXKzbs9Hwrk-n1Ayu_Prb3vXm-SOhke_YDfsR9rMQqz9f8XsqZV45ZDAf4n1bOydmG-RpIUZRCGBN4iSiiGIbxbFZ6FIF29iznTT1lzO8CEbDqeQ5u8qW8yYxjG9Am3i6rFS0YdWq6FY4mbmkcPyrgpDTYXj9lD1ZYhS56mMhsPTElrt6dmmKUfKZsnaOpn7aYUSd1YZoYSeA2I58Q3m1S-_pKisZf-AsQXdWpvgqlmDp-89Hy2Mm93Grte59md0L_AGFaLV4ApI0JphpzrYDgtzsdr41kgfsomFKEUBi34ey-PKZ9hNnFz_pEGsYLDvrpd4QfCW9Lu46y0DHM4i_ITM6oGs6aI9ir7ngK0sZi5AD5Ub7g=s0-l75-ft

Rain Ideas
https://cdn.discordapp.com/attachments/979714680715096114/1231259910377967619/11624195249337betn2bzer5veig98yngvwvb8r0sodhfmebcfxv4k213evxh7nhuiau0ew96p7qylifuxnde0qmh5zddjfzn0m4zcqpoamyohy.png?ex=66364f26&is=6623da26&hm=d316f05115dfd8ddac7b3e8da8960fc2318337fb233f2e9abce4252461cdfcd2&
https://cdn.discordapp.com/attachments/979714680715096114/1231259868309094421/pexels-photo-531880.png?ex=66364f1c&is=6623da1c&hm=24aa00ae2eb920a73d18dd22486325e2c854eef76a2eb70f3cfbb67ef4e12bad&

Current:
https://wallpapercave.com/wp/wp5515179.jpg
*/

body, .volume-controls, .box-container, html {
    margin: 0;
    padding: 0;
}
.header {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-box:hover {
    box-shadow: 0 0 35px white;
    cursor: pointer;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-box {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.message-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: black;
}

.message-container div {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.video-link {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    text-decoration: underline;
    cursor: pointer;
    z-index: 2;
}

.video-link:hover {
    color: aqua;
}

.copy-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    z-index: 9999;
}

.message-container {
    text-align: center;
}

.fa-check {
    color: #4CAF50;
    font-size: 48px;
    margin-bottom: 20px;
}

.success-message {
    font-size: 25px;
    font-weight: bold;
    color: #333;
}

.email-text {
    font-size: 19px;
    color: white;
    background: gray;
    padding: 10px 2px; 
    border-radius: 10px;
}

.copied-text {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
@media screen and (max-width: 903px) {
    .header-box {
        width: 150px;
    }
}

@media screen and (max-width: 550px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .header-left, .header-right {
        width: 100%; 
        justify-content: center;
    }

    .header-box {
        width: calc(50% - 20px); 
        margin: 10px;
    }
}


@media screen and (max-width: 413px) {
    .copy-overlay {
        width: 300px;
    }
}