body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

body::-webkit-scrollbar {
    display: none;
}

.title {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 20px;
    color: white;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: #aaa;
}

#feedbackSection {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    max-height: 400px;
    max-width: 300px; 
    overflow-y: auto; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease forwards;
    cursor: pointer;
}

.feedback-entry {
    margin-top: 10px; 
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ccc;
    overflow-wrap: break-word; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    text-align: center;
    color: white;
    max-width: 100%;
    overflow-wrap: break-word;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.close:hover {
    color: #ccc;
}

.popup-content button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #45a049;
}

#charCount {
    position: absolute;
    font-size: 12px;
    margin-top: -52px;
    color: gray;
}

#message {
    resize: none;
}


#feedbackSection {
    transition: height 0.2s ease;
    height: auto;
}

#feedbackList {
    display: none;
}

.open {
    transform: rotate(180deg);
}


button[type="submit"] {
    margin-right: 10px;
}