body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: bold;
    background-color: white;
    /* Remove scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
  }

.box:hover, .video-container:hover, .contact-us:hover { 
    cursor: pointer;
}

.box-container, .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start; 
    height: calc(100% - 160px);
}

.box {
    position: relative;
    width: 290px;
    height: 290px;
    border-radius: 10px;
    background-color: #0000005d;
    margin: 50px;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    font-size: 28px;
    position: absolute;
    bottom: -190px;
    left: 0;
    width: 110%;
    margin-left: -10px;
    text-align: center;
}


.box img {
    max-width: 110%;
    max-height: 110%;
    border-radius: 40%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-box {
    width: 200px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.play-pause-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    width: 50px;
    height: 50px;
}

.video-container {
    position: relative;
    width: 31%;
    height: 300px;
    border: 5px solid rgba(255, 255, 255, 0.418);
    border-radius: 18px;
    overflow: hidden;
    margin: 300px 10px 10px 10px; /* Adjusted margin to move the video containers higher up */
}


.video-container video {
    width: 101%;
    height: 100%;
    object-fit: cover; 
}

/* Font */

.title, .subtitle, .about-box, .meet-team, .name, .work, .check-out-our-work, .contact-us-here, .contact-us {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.title {
    text-align: center;
    color: black;
    margin-top: 120px;
    font-size: 4.8rem;
    line-height: 5.5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(252, 252, 252, 0.9), rgba(252, 252, 252, 0.9));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.subtitle {
    text-align: center;
    color: black;
    font-size: 18px;
    margin-top: 10px;
    font-size: 2.0rem;
    line-height: 4.5rem;
    letter-spacing: 0.2rem;
    background: linear-gradient(rgba(252, 252, 252, 0.9), rgba(252, 252, 252, 0.9));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.about-us {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-box {
    background: #ffffff5d;
    color: black;
    border-radius: 8px;
    font-size: 22px;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.8);
}

.meet-team {
    text-align: center;
    margin-top: 200px;
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: 0.5rem;
    background: linear-gradient(rgba(252, 252, 252, 0.9), rgba(252, 252, 252, 0.9));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border-color: black;
}

.name {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}

.lines {
    width: 200px;
    height: 1px;
    background-color: #8b8b8b93;
    margin: -10px auto;
}

.work {
    color: rgba(255, 255, 255, 0.753);
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}


.instagram {
    width: 40px;
    margin: 10px;
}

.fa-instagram {
    font-size: 50px; 
    color: rgba(255, 255, 255, 0.5);
}

.fa-instagram:hover {
    color: white;
}

.contact-us-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #ffffff;
    width: 400px;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 125px auto 0;
}

.envelope-icon {
    font-size: 30px;
    color: #333;
}

.contact-label {
    margin-top: 10px;
    font-weight: bold;
}

.line {
    width: 80%;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.email-address {
    font-size: 25px;
    font-weight: bold;
    color: #333333cb; 
}

.email-address:hover {
    cursor: pointer;
    color: #333333; 
}

.copyright {
    bottom: 20px; 
    width: 100%; 
    text-align: center; 
    margin-top: 150px; 
    font-size: 14px; 
    color: rgba(255, 255, 255, 0.5) !important;
}

.after-copyright {
    margin-top: 150px; 
    color: rgba(0, 0, 0, 0.0)
}

/*
.contact-us-here, .contact-us {
    font-weight: bold;
    text-align: center;
}

.contact-us {
    font-size: 20px;
}

.contact-us-box {
    border: 5px solid white;
    border-radius: 38px;
    text-align: center;
}

*/

.check-out-our-work {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: -25px;
    font-size: 3rem;
    line-height: 2.5rem;
    letter-spacing: 0.6rem;
}

.bg-black {
    box-shadow: 0 0 20000px 330px rgb(0, 0, 0);
}

html, .bg-black {
    color: white;
    background-image: url("https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcSnPxWs5UFx7V9AGOpd0qBdWPRG3YAwV7k9vpAzo4xPzXEYaT9PMdDfRvNidEi6gQQrhkjFqYH25O-srtsbmlg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0; 
}