.volume-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.volume-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.volume-control {
    margin: 10px;
    text-align: center;
}

.volume-control p {
    color: white;
    margin-top: 5px;
}

.volume-control img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.check-out-our-beats {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 2rem;
}