body, .html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background_1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 20px;
}

.category {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.category h2 {
    margin-top: 0;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.beats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.beat {
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: calc(50% - 10px);
    display: flex;
    align-items: center;
}

.beat:hover {
    box-shadow: 0 0 35px white;
    cursor: pointer;
}

.beat img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.beat p {
    margin: 0;
}

.volume-controls {
    margin-top: 20px;
}

.volume-container {
    display: flex;
    justify-content: center;
}

.volume-control {
    margin-right: 10px;
}

.volume-control:last-child {
    margin-right: 0;
}

.volume-control img {
    width: 30px;
    height: 30px;
}

.copyright {
    bottom: 20px; 
    width: 100%; 
    text-align: center; 
    margin-top: 150px; 
    font-size: 14px; 
    color: rgba(255, 255, 255, 0.5) !important;
}

.after-copyright {
    margin-top: 150px; 
    color: rgba(0, 0, 0, 0.0)
}