.video-container:hover { 
    cursor: pointer;
}

.play-pause-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    width: 50px;
    height: 50px;
}

.video-container {
    position: relative;
    width: 31%;
    height: 300px;
    border: 5px solid rgba(255, 255, 255, 0.493);
    border-radius: 18px;
    overflow: hidden;
    margin: 400px 10px 10px 10px; /* Adjusted margin to move the video containers higher up */
}


.video-container video {
    width: 101%;
    height: 100%;
    object-fit: cover; 
}


/*
.video-container video::-webkit-media-controls-start-playback-button,
.video-container video::-webkit-media-controls-enclosure {
    display: none !important;
}
*/

body, html {
    color: white;
    font-weight: bold;
    /* Remove scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: url("https://cdn.discordapp.com/attachments/979714680715096114/1231991558044254238/Namnlos_design_8.png?ex=6638f88c&is=6626838c&hm=2fa739fe80a1801408ba4231541c5df481bb45f2f6309f79c9c0c9d0d9177df4&");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

.video-container:hover { 
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: flex-start; 
    height: calc(100% - 160px);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.copyright {
    bottom: 20px; 
    width: 100%; 
    text-align: center; 
    margin-top: 150px; 
    font-size: 14px; 
    color: rgba(255, 255, 255, 0.5) !important;
}

.after-copyright {
    margin-top: 150px; 
    color: rgba(0, 0, 0, 0.0)
}